
 <div class="table-wrapper-scroll-y my-custom-scrollbar" >
  <table class="table table-bordered mb-0">
    <thead>
      <tr>
        <th>Name</th>
         <th>Age</th>
         <th>Heartbeat(bpm)</th>
          <th>Thao tác</th>
      </tr>
    </thead>
    <tbody id="dsbenhnhan">
     
    </tbody>
  </table>

</div>  
