<body>
<header style="  padding: 20px;">
  <h1><a href="/">Heartbeat</a></h1>
</header>

<section style="display: -webkit-flex; display: flex;   height: 730px;">
  
<nav style="  padding: 20px; display: flex; align-items: center; justify-content: center;">
  <ul> 
    <img id="user" src=""  width="200" height="200" >
    <li><Strong>Name:</Strong><span id="result-name"></span></li>
    <li><Strong>Age:</Strong> <span id="result-age">   </li>
    <li><Strong>Beat:</Strong> </li>
  </ul>
</nav>
<article style=" padding: 10px; display: flex; align-items: center; justify-content: center;">
  <div id="heart"></div>
 </article>
</section>

<footer style="padding: 10px;">
  <p>THCNTT3</p>
</footer>
  
</body>
